<section id="author" class="author-section section theme-bg-primary py-5" style="background-image: url(img/banner-ebook-1.png);" >
    <div class="container py-3 text-white">
        <div class="mb-5" style="text-align: -webkit-center;">
            <img class="author-pic" src="img/profile.jpg" alt="Imagem de perfil da Olívia" >
        </div><!--//author-profile-->
        <h1 class="section-heading text-center mb-3">Sobre Olívia</h1>
        <div class="single-col-max mx-auto">
            <p> Uma apaixonada por alimentação saudável e equilibrada, crianças, maternidade e estudos! Técnica e graduanda em nutrição, especialista em Introdução Alimentar, trabalha com consultorias personalizadas para realizar seu propósito  "por mais crianças comendo bem"! Através de consultorias personalizadas, materiais exclusivos e conteúdo de qualidade nas redes sociais, leva conhecimento e informação atualizada para cuidadores para que bebês e crianças tenham uma alimentação adequada e saudável por toda a vida, começando pela Introdução Alimentar. Atende clientes em diversos países de forma on-line e também trabalha de forma presencial e domiciliar em Ribeirão Preto-SP.</p>
            
            <div class="text-center pt-4">
                <h5>Siga a:</h5>
                <div id="aboutMe">
                        <div class="text-md-center my-2" id="social-media">
                            <a href="https://www.instagram.com/bemquesecome/" class="d-inline-block text-center ml-2">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="https://api.whatsapp.com/send/?phone=5516992379412&text=&type=phone_number&app_absent=0" class="d-inline-block text-center ml-2">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            </a>
                            <a href="mailto:bqsc.consultoria@gmail.com" class="d-inline-block text-center ml-2">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </a>
                            <!--a href="#" class="d-inline-block text-center ml-2">
                                <i class="fa fa-medium" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="d-inline-block text-center ml-2">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a-->
                        </div>
                    </div>
                </div>
            </div><!--//author-links-->
        </div><!--//author-bio-->
    </div><!--//container-->
</section><!--//author-section-->