<div class="container my-5 py-2" id="consultancy">
    <h2 class="text-center font-weight-bold d-block mb-3">Consultorias</h2>
    <div class="row">
        <div data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-3 text-center py-4 mt-5">
            <h4 class="my-4">PREPARAÇÃO IA</h4>
            <!--p class="font-weight-bold">R$ <span class="display-2 font-weight-bold">280</span>cada</p-->
            <ul class="list-unstyled">
                <li>Consultoria completa para famílias sobre Introdução Alimentar, com orientações, material de apoio e o suporte WhatsAppa durante todo o processo e até 4 semanas depois, garantindo segurança e confiança nesse processo.</li>
                <li style="color: #ffffff;">.</li>
                <li style="color: #ffffff;">.</li>

            </ul>
            <a href="https://api.whatsapp.com/send/?phone=5516992379412&text=Oi, gostaria de saber mais sobre consultoria de preparação de IA.&type=phone_number&app_absent=0" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Falar com Olívia</a>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="col-md-3 text-center py-4 mt-5" id="price-table__premium">
            <h4 class="my-4">AVULSA</h4>
            <!--p class="font-weight-bold">R$ <span class="display-2 font-weight-bold">300</span></p-->
            <ul class="list-unstyled">
                <li>Econtro presencial em RIbeirão Preto ou Online em todos os lugares. Para demandas de Introdução Alimentar já iniciada ou dúvidas quanto à preparos, congelamentos, ajustes e auxílios no geral com a alimentação da criança. 1 semana de suporte WhatsApp.</li>
            </ul>
            <a href="https://api.whatsapp.com/send/?phone=5516992379412&text=Oi, gostaria de saber mais sobre consultoria avulsa.&type=phone_number&app_absent=0" class="btn my-4 font-weight-bold atlas-cta cta-green">Falar com Olívia</a>
        </div>
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" class="col-md-3 text-center py-4 mt-5">
            <h4 class="my-4">PACOTE</h4>
            <!--p class="font-weight-bold">R$ <span class="display-2 font-weight-bold">500</span></p-->
            <ul class="list-unstyled">
                <li>Preparado de acordo com sua necessidade. Considerado a partir de 3 consultorias contratadas, possui valor diferenciado. O suporte WhatsApp acontece durante a consultoria e até uma semana depois.</li>            
                <li style="color: #ffffff;">.</li>
                <li style="color: #ffffff;">.</li>

            </ul>
            <a href="https://api.whatsapp.com/send/?phone=5516992379412&text=Oi, gostaria de saber mais sobre consultoria pacote.&type=phone_number&app_absent=0" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Falar com Olívia</a>
        </div>
        <!--div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-3 text-center py-4 mt-5 rounded" id="price-table__premium">
            <h4 class="my-4">PREPARAÇÃO IA</h4>
            <p class="font-weight-bold">R$ <span class="display-2 font-weight-bold">1300</span></p>
            <ul class="list-unstyled">
                <li>1h de entrevista inicial</li>
                <li>4 encontros online</li>
                <li>2 meses suporte WhatsApp</li>
                <li>+ Guia Tudo para IA</li>
            </ul>
            <a href="https://api.whatsapp.com/send/?phone=5516992379412&text=Oi, gostaria de saber mais sobre o pacote de preparação de introdução alimentar.&type=phone_number&app_absent=0" class="btn my-4 font-weight-bold atlas-cta cta-green">Falar com Olívia</a>
        </div-->
        <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-3 text-center py-4 mt-5 rounded" id="price-table__premium">
            <h4 class="my-4">PERSONAL</h4>
            <!--p class="font-weight-bold">R$ <span class="display-2 font-weight-bold">600</span></p-->
            <ul class="list-unstyled">
                <li>Encontro presencial em Ribeirão Preto ensina cuidadores a preparar refeições saudáveis, congelar alimentos e melhorar a alimentação infantil. Inclui suporte por 1 semana via WhatsApp.</li>
                <li style="color: #e78555;">.</li>
                <li style="color: #e78555;">.</li>
                <li style="color: #e78555;">.</li>


            </ul>
            <a href="https://api.whatsapp.com/send/?phone=5516992379412&text=Oi, gostaria de saber mais sobre consultoria personal.&type=phone_number&app_absent=0" class="btn my-4 font-weight-bold atlas-cta cta-green">Falar com Olívia</a>
        </div>
    </div>
</div>