<section id="ebook-2" class="hero-section">
    <div class="container" >
        <div class="row" >
            <div class="col-12 col-md-5 align-self-center">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="book-cover-holder">
                    <img class="img-fluid book-cover" src="img/feature-2.jpg" alt="Capa do e-Book: Guia tudo para Introdução Alimentar" >
                </div><!--//book-cover-holder-->
            </div><!--col-->
            <div class="col-12 col-md-7 pt-5 align-self-center" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                <div class="promo pe-md-3 pe-lg-5">
                    <h1 class="headline mb-3" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        Lanchinhos do Bem
                    </h1><!--//headline-->
                    <div class="subheadline mb-4" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        <p>O melhor lanchinho pro seu bebê é aquele preparado em casa! Te ensino o passo a passo de 25 receitas práticas de lanches do bem, saudáveis e nutritivos para você oferecer para a sua criança. Com essse e-book repleto de opções você nunca mais vai precisar se preocupar pensando no que oferecer pro seu bebê e muito menos cogitar besteirinhas de mercado! Aqui você terá ideias para variar e não cair na monotonia alimentar, oferecendo lanchinhos de qualidade, tudo sem açúcar, sem farinha branca, inclusive com opções para quem tem intolerâncias e alergias! Além disso te oriento a armazenar, conservar e congelar as preparações para otimizar seu tempo e ter sempre algo pronto e saudável para oferecer para os pequenos!</p>
                        <p>Um gostinho do que você vai ver por aqui: bolinho de maracujá, bolinho de cenoura, biscoitinho de polvilho, nuggets de frango, bolinho de cogumelos, bolinho de mandioca com carne, panquequinha nutritiva, pão de queijo, e muito mais!</p>
                    </div><!--//subheading-->
                    
                    <div class="cta-holder row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto">
                            <a href="https://pay.hotmart.com/H78705001J?bid=1685670560909" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Comprar</a>
                        </div>
                    </div><!--//cta-holder-->
                </div><!--//promo-->
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->