<section id="ebook-2" class="hero-section" style="background-image: url(img/banner-ebook-1.png);">
    <div class="container" >
        <div class="row" >
            <div class="col-12 col-md-5 align-self-center">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="book-cover-holder">
                    <img class="img-fluid book-cover" src="img/feature-1.png" alt="Capa do e-Book: Guia tudo para Introdução Alimentar" >
                </div><!--//book-cover-holder-->
            </div><!--col-->
            <div class="col-12 col-md-7 pt-5 align-self-center" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                <div class="promo pe-md-3 pe-lg-5 text-white">
                    <h1 class="headline mb-3" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        Guia: Tudo para<br>
                        Introdução Alimentar
                    </h1><!--//headline-->
                    <div class="subheadline mb-4" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        <p>Completo em informações para orientar cuidadores com as mais atualizadas diretrizes no assunto da IA.</p>
                        <p>O documento traz com detalhes tudo aquilo que é necessário saber para guiar uma Introdução Alimentar adequada, baseada nas orientações mais recentes da Sociedade Brasileira de Pediatria, Ministério da Saúde, Organização Mundial da Saúde e Consenso Brasileiro sobre Alergia Alimentar.</p>
                        <p>Para que mais crianças comam bem é preciso que orientações arcaicas sejam prontamente substituídas pelas mais recentes, que são embasadas em pesquisas e estudos sólidos.</p>
                        <p>Nele você vai encontrar tudo sobre: quando e como começar a IA; por onde iniciar; métodos; como compor o pratinho do bebê; o que pode e o que não pode; grupos alimentares; janela imunológica; engasgo e manobra de desengasgo; constipação e como prevenir e tratar; as fases da IA e como passar por cada uma; temperos; rotina; higienização de alimentos; IA para crianças APLV; como escolher o que comprar; e muito mais!!</p>
                    </div><!--//subheading-->
                    
                    <div class="cta-holder row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto">
                            <a href="https://pay.hotmart.com/Q80683269X?checkoutMode=10" class="btn my-4 font-weight-bold atlas-cta cta-green">Comprar por R$ 167,00</a>
                        </div>
                        <div class="col-12 col-md-auto">
                            <a href="https://pay.hotmart.com/Q80683269X?checkoutMode=10" class="btn my-4 font-weight-bold atlas-cta cta-green-light">Ou 12 x de R$ 17,27</a>
                        </div>
                    </div><!--//cta-holder-->
                </div><!--//promo-->
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->