<section id="ebook-4" class="hero-section" style="background-image: url(img/banner-ebook-1.png);">
    <div class="container" >
        <div class="row" >
            <div class="col-12 col-md-5 align-self-center">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="book-cover-holder">
                    <img class="img-fluid book-cover" src="img/feature-4.png" alt="Capa do e-Book: Pãezinhos do bem" >
                </div><!--//book-cover-holder-->
            </div><!--col-->
            <div class="col-12 col-md-7 pt-5 align-self-center" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                <div class="promo pe-md-3 pe-lg-5 text-white">
                    <h1 class="headline mb-3" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        Pãezinhos do bem
                    </h1><!--//headline-->
                    <div class="subheadline mb-4" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        <p>Desenvolvido por uma profissional no assunto e amante da cozinha e da alimentação saudável, a primeira edição de "Pãezinhos do bem" reúne 25 receitas saudáveis e práticas elaboradas e testadas pela autora.</p>
                        <p>O livro traz opções de pães saudáveis para bebês e toda a família, além de alternativas de acompanhamentos como geleias e patês! O intuito é garantir opções de pães saudáveis para os pequenos, já que as opções industrializadas são, na maioria das vezes, repletas de ingredientes prejudiciais à saúde. O material traz também o preparo das receitas e o armazenamento indicado, tudo para garantir sabor, saúde e praticidade no dia a dia!</p>
                        <p>Nesse e-book você encontra não só receitas de pãezinhos, mas também de bolos, geleias, patês e mais! E as receitas podem ser executadas por qualquer nível de intimidade com a cozinha!</p>
                    </div><!--//subheading-->
                    
                    <div class="cta-holder row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto">
                            <a href="https://pay.hotmart.com/C86344615R" class="btn my-4 font-weight-bold atlas-cta cta-green">Comprar por R$ 52,90</a>
                        </div>
                        <!--div class="col-12 col-md-auto">
                            <a href="https://pay.hotmart.com/C86344615R" class="btn my-4 font-weight-bold atlas-cta cta-green-light">Ou 5 x de R$ 10,95 </a>
                        </div-->
                    </div><!--//cta-holder-->
                </div><!--//promo-->
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->