<section id="ebook-1" class="hero-section">
    <div class="container" >
        <div class="row" >
            <div id="ebook-image-mobile-1" class="col-12 col-md-5 align-self-center" style="display: none;">
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="book-cover-holder">
                    <img class="img-fluid book-cover" src="img/feature-5.jpeg" alt="Capa do e-Book: Lanchinhos do bem" >
                </div><!--//book-cover-holder-->
            </div><!--col--> 
            <div class="col-12 col-md-7 pt-5 align-self-center" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                <div class="promo pe-md-3 pe-lg-5">
                    <h1 class="headline mb-3" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        Festinhas do bem
                    </h1><!--//headline-->
                    <div class="subheadline mb-4" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        <p>Desenvolvido por uma profissional no assunto e amante da cozinha e da alimentação saudável, a primeira edição de Festinha do bem reúne 25 receitas saudáveis e práticas elaboradas e testadas pela autora.</p>
                        <p>O livro traz preparações que fazem parte da cultura de festinhas e comemorações brasileiras, como: docinhos, bolos, salgados, sobremesas e muito mais! Tudo sem açúcar! Há também receitas livres de glúten, leite e ovos para contemplar bebês com restrições.</p>
                        <p>O intuito é que bebês em Introdução Alimentar tenham opções nutritivas para comerem enquanto participam de comemorações festivas, como, por exemplo, seus próprios aniversários!</p>
                        <p>O material traz também o preparo das receitas, considerações importantes e orientações de armazenamento. Tudo para garantir a qualidade das preparações!</p>
                        <p>Como em todos os e-books Bem que se come, essas receitas também podem ser executadas por pessoas com qualquer nível de intimidade com a cozinha!</p>
                    </div><!--//subheading-->
                    
                    <div class="cta-holder row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto">
                            <a href="https://pay.hotmart.com/K95114710F?bid=1726788379039" class="btn my-4 font-weight-bold atlas-cta cta-ghost">Compre por R$77,00</a>
                        </div>
                    </div><!--//cta-holder-->
                </div><!--//promo-->
            </div><!--col-->
            <div id="ebook-image-web-1" class="col-12 col-md-5 align-self-center">
                <div data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" class="book-cover-holder">
                    <img class="img-fluid book-cover" src="img/feature-5.jpeg" alt="Capa do e-Book: Lanchinhos do bem" >
                </div><!--//book-cover-holder-->
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->