<section id="ebook-4" class="hero-section" style="background-image: url(img/banner-ebook-1.png);">
    <div class="container" >
        <div class="row" >
            <div class="col-12 col-md-5 align-self-center">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="book-cover-holder">
                    <img class="img-fluid book-cover" src="img/feature-6.jpeg" alt="Capa do e-Book: Pãezinhos do bem" >
                </div><!--//book-cover-holder-->
            </div><!--col-->
            <div class="col-12 col-md-7 pt-5 align-self-center" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                <div class="promo pe-md-3 pe-lg-5 text-white">
                    <h1 class="headline mb-3" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        Receitas do bem
                    </h1><!--//headline-->
                    <div class="subheadline mb-4" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        <p>75 receitas para o seu bebê reunidas nesse combo imperdível! Todos os e-books de receitinhas Bem que se come em um só lugar, com um valor que compensa! Práticas, saudáveis e nutritivas, essas preparações são especialmente para bebês em Introdução Alimentar, pois são livres de açúcar e outros ingredientes contraindicados para menores de 2 anos. E é claro que toda a família se delicia junto!</p>
                        <p>Nesse combo você tem acesso aos 3 e-books de receitas Bem que se come: Lanchinhos do bem, Pãezinhos do bem e Festinhas do bem! Tudo para que seu bebê coma preparações saudáveis e adequadas para a idade dele!</p>
                    </div><!--//subheading-->
                    
                    <div class="cta-holder row gx-md-3 gy-3 gy-md-0">
                        <div class="col-12 col-md-auto">
                            <a href="https://pay.hotmart.com/C95115395K" class="btn my-4 font-weight-bold atlas-cta cta-green">Comprar por R$ 147,00</a>
                        </div>
                        <div class="col-12 col-md-auto">
                            <a href="https://pay.hotmart.com/C95115395K" class="btn my-4 font-weight-bold atlas-cta cta-green-light">Ou 4 x de R$ 40,01</a>
                        </div>
                    </div><!--//cta-holder-->
                </div><!--//promo-->
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->