<section class="jumbotron jumbotron-fluid" id="copyright">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-white align-self-center text-center text-md-left my-2">
                Copyright © 2023 Olívia Farias
            </div>
            <div class="col-md-6 align-self-center text-center text-md-right my-2" id="social-media">
                <a href="https://www.instagram.com/bemquesecome/" class="d-inline-block text-center ml-2">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://api.whatsapp.com/send/?phone=5516992379412&text=&type=phone_number&app_absent=0" class="d-inline-block text-center ml-2">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </a>
                <a href="mailto:bqsc.consultoria@gmail.com" class="d-inline-block text-center ml-2">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <!--a href="#" class="d-inline-block text-center ml-2">
                    <i class="fa fa-medium" aria-hidden="true"></i>
                </a>
                <a href="#" class="d-inline-block text-center ml-2">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a-->
            </div>
        </div>
    </div>
</section>