<section class="jumbotron jumbotron-fluid" style="background-image: url(img/banner-bk.png);background-position-x:center;" id="hero">
    <div class="container text-center text-md-left">
        <header>
            <div class="row justify-content-between">
                <div class="col-2">
                    <a href="/#hero" class="d-inline-block text-center ml-2">
                        <img src="img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="col-6 align-self-center text-right">
                    <a href="https://hotmart.com/pt-br/marketplace/produtos/paezinhos-do-bem/C86344615R" class="text-white lead">e-Books</a>
                </div>
            </div>
        </header>
        <h1 data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="display-3 text-white font-weight-bold my-5">
            Bem que se come:<br> 
            Introdução Alimentar<br>
        </h1>
        <p data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="lead text-white my-4">
            Tudo sobre Introdução Alimentar, orientações e recomendações atualizadas para você guiar essa fase tão importante e crucial da vida da sua criança! Aqui você também encontra receitas saudáveis e consultoria com suporte personalizado para te ajudar no processo com seu filho! Se você quer garantir uma Introdução Alimentar adequada e atualizada para o seu bebê, eu te ajudo!
        </p>
        <a href="https://api.whatsapp.com/send/?phone=5516992379412&text=&type=phone_number&app_absent=0" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true" class="btn my-4 font-weight-bold atlas-cta cta-green">Falar com Olívia</a>
    </div>
</section>