<section id="ebook-2" class="hero-section" style="background-image: url(img/banner-ebook-1.png);">
    <div class="container" >
        <div class="row" >
            <div class="col-12 col-md-5 align-self-center">
                <div data-aos="fade-right" data-aos-duration="1000" data-aos-once="true" class="book-cover-holder">
                    <img class="img-fluid book-cover" src="img/feature-1.png" alt="Capa do e-Book: Guia tudo para Introdução Alimentar" >
                </div><!--//book-cover-holder-->
            </div><!--col-->
            <div class="col-12 col-md-7 pt-5 align-self-center" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
                <div class="promo pe-md-3 pe-lg-5 text-white">
                    <h1 class="headline mb-3" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        O que você vai encontrar<br>
                        no Guia tudo para IA:
                    </h1><!--//headline-->
                    <div class="subheadline mb-4" data-aos="fade" data-aos-easing="linear" data-aos-duration="1000" data-aos-once="true">
                        <p><li>Como iniciar a IA;</li></p>
                        <p><li>Como oferecer os alimentos;</li></p>
                        <p><li>Alimentos inadequados a IA;</li></p>
                        <p><li>Janela imunológica;</li></p>
                        <p><li>Como montar o prato;</li></p>
                        <p><li>Orientação sobre sal e açúcar;</li></p>
                        <p><li>Orientação sobre utensílios (cadeirão, pratos, copos, talheres, babador...);</li></p>
                        <p><li>Fases da Introdução Alimentar;</li></p>
                        <p><li>Como ficam o aleitamento materno ou fórmula;</li></p>
                        <p><li>Rotina do bebê;</li></p>
                        <p><li>Temperos liberados;</li></p>
                        <p><strong>E MUITO MAIS!</strong></p>
                    </div><!--//subheading-->
                    
                    <div style="text-align: center; margin-bottom: 20px;">
                            <a href="https://pay.hotmart.com/Q80683269X?checkoutMode=10" class="btn my-2 font-weight-bold atlas-cta cta-green botao-lp">QUERO MEU GUIA!</a>
                        </div>
                    </div><!--//cta-holder-->
                </div><!--//promo-->
            </div><!--col-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//hero-section-->