<section id="results" class="container">
    <h2 class="text-center font-weight-bold my-3">Resultados</h2>
        <div class="outerdiv">
            <div class="innerdiv">
              <!-- div1 -->
              <div class="div1 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name">Carolina</p>
                    <p class="designation"></p>
                  </div>
                </div>
                <div class="review">
                  <h4>Via que tinha algo de errado na IA da minha filha que não estava aceitando os alimentos.</h4>
                  <p>“Esperei para ver se passava e começou a bater o desespero. Eu encontrei a Olívia e ela fez um trabalho incrível, a nossa vida mudou. Falo que tem o antes da Olívia e o depois dela! Fez um trabalho comigo como mãe também, me acalmou muito. Se não fosse ela, a gente não teria evoluído em todas as refeições. Antes minha bebê não se interessava pelos alimentos, hoje come todas as frutas e aceita muito bem as refeições. Evoluiu na mastigação, no paladar, nas texturas… e eu como mãe também evoluí. Minha experiência foi extremamente positiva e indico muito para qualquer pessoa“</p>
                </div>
              </div>
              <!-- div2 -->
              <div class="div2 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name dark">Érica</p>
                    <p class="designation dark"></p>
                  </div>
                </div>
                <div class="review dark">
                  <h4>Já no primeiro dia após a consultoria tivemos sucesso com o H. seguindo as orientações da Olívia.</h4>
                <p>“Ele tinha dificuldade em aceitar os alimentos, mas já está almoçando bem e jantando bem!”</p>
                </div>
              </div>
              <!-- div3 -->
              <div class="div3 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name dark">Renata</p>
                    <p class="designation dark"></p>
                  </div>
                </div>
                <div class="review dark">
                  <h4>Fiz a consultoria do bem que se come com a Olívia e foi muito enriquecedor.</h4>
                  <p>“Meus filhos, agora com 3 anos, desde o início da introdução alimentar tiveram comportamentos cíclicos de seletividade que se agravaram com a idade. Nos nossos encontros pude perceber que podia fazer mudanças simples e que trouxeram resultado. Percebo que ambos estão mais abertos a experimentar, curiosos com o que está à mesa, querendo produzir receitas… Trouxe muito mais leveza e prazer as refeições. Muito obrigada pelo apoio de sempre!”</p>
                </div>
              </div>
              <!-- div4 -->
              <div class="div4 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name dark">Walquíria</p>
                    <p class="designation dark"></p>
                  </div>
                </div>
                <div class="review dark">
                  <h4>Meu filho fazia cara de nojo para a comida.</h4>
                <p>“Depois da consultoria com a Olívia, eu nem acreditei, passou a comer horrores e eu estou muito feliz e com o coração aliviado!”</p>
                </div>
              </div>
              <!-- div5 -->
              <div class="div5 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name">Débora</p>
                    <p class="designation"></p>
                  </div>
                </div>
                <div class="review">
                  <h4>B. fez um acompanhamento com a Olívia e voltou a ser um bebê comilão.</h4>
                <p>“As frutas não eram o foco principal, mas sim os legumes. Hoje come tudo com satisfação! A Olívia ajudou a gente quando o B. estava em uma fase bem seletiva, o B. só comia tomate e ovo. E agora temos um bebê que come sozinho e come vários legumes! Eu também tinha alguns bloqueios que a Olívia foi me ajudando e hoje temos um bebê comilãozinho!”</p>
                </div>
              </div>
            </div>
          </div>
</section>