<section id="results" class="container">
    <h2 class="text-center font-weight-bold my-3">Quem comprou, recomenda!</h2>
        <div class="outerdiv">
            <div class="innerdiv">
              <!-- div1 -->
              <div class="div1 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name">Bruna Sales</p>
                    <p class="designation"></p>
                  </div>
                </div>
                <div class="review">
                  <h4>Esse Guia resumiu de uma forma muito clara e eficiente tudo que eu precisava saber para o início dessa nova fase!</h4>
                  <p>“Eu estava consumindo diversas informações sobre introdução na internet, mas esse Guia resumiu de uma forma muito clara e eficiente tudo que eu precisava saber para o início dessa nova fase. Hoje a Liz come de tudo e tenho certeza que o fato de eu ter começado com esse conhecimento, só facilitou mais ainda o processo!“</p>
                </div>
              </div>
              <!-- div2 -->
              <div class="div2 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name dark">Elaine Agostino</p>
                    <p class="designation dark"></p>
                  </div>
                </div>
                <div class="review dark">
                  <h4>Comprei o Guia de Introdução para me preparar e foi a melhor decisão!</h4>
                  <p>“Ele é bem completo e a Olívia uma profissional maravilhosa. Minha bebê com 1 semana de IA já estava comendo super bem para a alegria da mamãe aqui.”</p>
                </div>
              </div>
              <!-- div3 -->
              <div class="div3 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name dark">Lívia Maria</p>
                    <p class="designation dark"></p>
                  </div>
                </div>
                <div class="review dark">
                  <h4>Toda mãe, sem exceção, deveria adquirir! </h4>
                  <p>“Tem muita informação de qualidade, conteúdo fácil pra qualquer pessoa entender, e foi um verdadeiro guia de qual caminho seguir, me deixando informada e ciente de toda a informação e todas as recomendações certas. Toda mãe, sem exceção, deveria adquirir! Se eu pudesse saia dando esse guia de introdução alimentar de presente pra todo mundo porque realmente toda mãe merece saber o tanto de informação valiosa que tem dentro dele! Só posso parabenizar pelo excelente trabalho e pela dedicação e amor pelo que fazes (que é notavel)!”</p>
                </div>
              </div>
              <!-- div4 -->
              <div class="div4 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name dark">Juliana Gregolin</p>
                    <p class="designation dark"></p>
                  </div>
                </div>
                <div class="review dark">
                  <h4>Presenteei minha amiga com um dos e-books do BQSC.</h4>
                  <p>“O material a ajudou em algumas escolhas de compras também, como o tipo de cadeirão. Hoje vejo Pedro, agora com 2 anos, sempre comendo muito bem com suas marmitinhas e panquequinhas.”</p>
                </div>
              </div>
              <!-- div5 -->
              <div class="div5 eachdiv">
                <div class="userdetails">
                  <div class="detbox">
                    <p class="name">Mariana Leite</p>
                    <p class="designation"></p>
                  </div>
                </div>
                <div class="review">
                  <h4>O guia ensina tudo a respeito de como alimentar seu bebê com confiança e respeito.</h4>
                  <p>“O Guia da Olívia é essencial para toda mãe, tanto as que possuem um bebê, como as que já têm mais filhos. A minha experiência foi sensacional, me deixou mais calma e confiante. O guia ensina tudo a respeito de como alimentar seu bebê com confiança e respeito. O guia explica detalhe por detalhe sobre a manobra de desengasgo, que é de suma importância para uma alimentação com tranquilidade, deixar a criança sentir o alimento e comer com vontade e apreciar aquele momento. Reflete hoje o meu pequeno comendo quase sem fazer sujeira e sozinho.”</p>
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center;">
            <a href="https://pay.hotmart.com/Q80683269X?checkoutMode=10" class="btn my-4 font-weight-bold atlas-cta cta-green botao-lp">ADQUIRA O SEU AQUI!</a>
        </div><!--//cta-holder-->
</section>