<section id="services" class="container my-5 py-2">
    <h2 class="text-center font-weight-bold my-5">Como posso te ajudar?</h2>
    <div class="row">
        <div data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000" data-aos-once="true" class="col-md-3 text-center">
            <img src="img/smart-protect-1.png" alt="Consultoria" class="mx-auto">
            <h4>Consultoria</h4>
            <p>Temos as vertentes: Preparação para IA, IA em andamento, ajustes na IA, sinais de seletividade alimentar e consultorias presenciais!</p>
        </div>
        <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-3 text-center">
            <img src="img/smart-protect-3.png" alt="Guia" class="mx-auto">
            <h4>Guia</h4>
            <p>Material exclusivo e completo com tudo o que você precisa saber para guiar uma IA adequada e atualizada para o seu bebê! </p>
        </div>
        <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000" data-aos-once="true" class="col-md-3 text-center">
            <img src="img/smart-protect-2.png" alt="Receitinhas" class="mx-auto">
            <h4>Receitinhas</h4>
            <p>E-book com receitas práticas, nutritivas e saudáveis para facilitar o dia a dia do cuidador e garantir qualidade para a criança!</p>
        </div>
        <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" data-aos-once="true" class="col-md-3 text-center">
            <a href="https://www.instagram.com/bemquesecome">
                <img src="img/smart-protect-4.png" alt="Instagram" class="mx-auto">
            </a>
            <h4>Instagram</h4>
            <p>Compartilhamento de conteúdo de qualidade e informações para te ajudar na IA!</p>
        </div>
    </div>
</section>