/********** common setting **********/
h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #176765;
    color: #ffffff;
    touch-action: manipulation; /* Melhora a interação no mobile */
    animation: blink 2s infinite; /* Animação de piscar */

}

@keyframes blink {
    0%, 100% {
        background: #176765;
        color: #ffffff;
    }
    50% {
        color: #176765;
        background: #fcf2e3;
    }
}

.cta-green:hover {
    color: #176765;
    background: #fcf2e3;
    animation: none;
}

.cta-blue {
    background: #e78555;
    color: #ffffff;
}

.cta-blue:hover {
    color: #e78555;
    background: #fcf2e3;
}

.cta-green-light {
    color: #176765;
    background: #fcf2e3;
}

.cta-green-light:hover {
    background: #176765;
    color: #ffffff;
}


.cta-ghost {
    border: 2px solid #e78555 !important;
    color: #e78555;
}

.cta-ghost:hover {
    color: #e78555;
    background: #fcf2e3;
}

.cta-ghost-light {
    color: #e78555;
    background: #fcf2e3;
}

.cta-ghost-light:hover {
    border: 2px solid #e78555 !important;
    color: #e78555;
}

#hero {
    background-size: cover;
}

#hero header {
    overflow: hidden;
}

#hero header img {
    max-width: 200px;
}

/********** feature (skew background) **********/
.feature img {
    width: 50%;
    max-width: 480px;
}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #176765 0);
}

#feature-last {
    background: #176765;
}

/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#price-table__premium {
    background: #e78555;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: white;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid white;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: #e78555;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #e78555;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #176765;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}

.author-pic{
    max-width: 150px;    
}

/********** copyright **********/
#aboutMe {
    padding: 2rem 3rem;
}

#aboutMe #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#aboutMe #social-media a i {
    color: #e78555;
    font-size: 1.2rem;
    line-height: 40px;
}

#aboutMe #social-media a:hover {
    background: #176765;
}

#aboutMe #social-media a:hover i {
    color: #ffffff;
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Semi Condensed', sans-serif;
}


.outerdiv
{
	width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerdiv
{
	transform: scale(0.9);
	margin: 0.5rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: #176765;
    grid-column: 1/3;
    grid-row: 1/2;
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
    background: white;
    grid-column: 3/4;
    grid-row: 1/2;
    color: black;
}
.div3
{
	background:#d9d9e8;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: #e78555;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 100%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}


.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 90%);
    opacity: 80%;
    font-size: 0.8rem;
}

.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.2rem;
	color: white;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}

.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: white;
    font-weight: 500;
    opacity: 70%;
    line-height: 1.5;
    margin-top: 0.8rem;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

.botao-lp{
    font-size: 2vw !important;
}

@media only screen and (max-width: 1000px)
{
    .hero-image {
        object-position: right !important;
    }

    .titulo {
        font-size: 6vw !important;
    }

    .subtitulo {
        font-size: 4vw !important;
    }

    .botao-lp{
        font-size: 5vw !important;
    }

	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}